//Common section start
@function strip-unit($num) {
  @return calc($num / ($num * 0 + 1));
}

@function rem($pixels) {
  @return calc(strip-unit($pixels) / $base-rem) * 1rem;
}

.section {
  margin: rem(30) 0;

  @include media-breakpoint-up(md) {
    margin: 50px 0;
  }

  @include media-breakpoint-up(xl) {
    margin: 100px 0;
  }

  &__heading {
    text-align: center;
    position: relative;
    z-index: 0;
    margin-bottom: 66px;

    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 142px;
      border: 1px solid $color-black;
    }

    h2 {
      font-size: rem(30);
      font-weight: $font-weight-bold;
      color: $color-lightblack;
    }

    p {
      font-weight: $font-weight-medium;
      color: $color-lightgrey;
    }
  }
}

.contact-logo {
  margin-top: rem(17);
  margin-bottom: rem(20);
  text-align: center;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
    text-align: start;
  }
}

.ratings {
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;

  &::before {
    content: "\f005"" \f005"" \f005"" \f005"" \f005";
    position: relative;
    display: block;
    line-height: 16px;
    font: var(--fa-font-regular);
    font-weight: $font-weight-light;
    letter-spacing: 0;
    color: $color-dark;
  }

  &__result {
    display: inline-block;
    width: 92%;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;

    &::before {
      content: "\f005"" \f005"" \f005"" \f005"" \f005";
      position: relative;
      display: block;
      line-height: 16px;
      font: var(--fa-font-solid);
      font-weight: $font-weight-bold;
      letter-spacing: 0;
      color: $color-dark;
      z-index: 2;
      -webkit-font-smoothing: antialiased;
    }
  }
}

//detail page banner
.inner-banner {
  background-image: url("#{$images}/inner-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: rem(153);
  display: grid;
  place-items: center;
  position: relative;
  z-index: 8;

  &-overlay {
    min-height: rem(153);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

//Common section end

// comman button
.inner__modal-content-btn {
  background-color: $color-red;
  color: $color-white;
  padding-block: rem(8.5);
  display: block;
  font-size: rem(14);
  font-weight: $font-weight-normal;
  margin-bottom: 14px;
  color: $color-darkwhite;
  border-radius: 2px;
  border: 1px solid $color-red;
  text-align: center;
  &:hover {
    background-color: transparent;

    color: $color-red;
  }
 
  @include media-breakpoint-up(lg) {
    width: 321px;
  }
}
.btn-transparent{
  background-color: transparent;
  color: $color-red;
  &:hover {
    background-color: $color-red;
    color: $color-white;
  }
}

#more {display: none;}
#more2 {display: none;}
#more3 {display: none;}