

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?gg5log');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?gg5log#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?gg5log') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?gg5log') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?gg5log##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address {
  &:before {
    content: $icon-address; 
  }
}
.icon-payment {
  &:before {
    content: $icon-payment; 
  }
}
.icon-billings {
  &:before {
    content: $icon-billings; 
  }
}
.icon-shipping1 {
  &:before {
    content: $icon-shipping1; 
  }
}
.icon-product-grid {
  &:before {
    content: $icon-product-grid;     
    color: #7f7f7f;
  }
}
.icon-favourite-list {
  &:before {
    content: $icon-favourite-list; 
  }
}
.icon-favourite-grid {
  &:before {
    content: $icon-favourite-grid; 
  }
}
.icon-close-button {
  &:before {
    content: $icon-close-button; 
  }
}
.icon-product-share {
  &:before {
    content: $icon-product-share; 
  }
}
.icon-product-bottom-arrow {
  &:before {
    content: $icon-product-bottom-arrow; 
  }
}
.icon-product-top-arrow {
  &:before {
    content: $icon-product-top-arrow; 
  }
}
.icon-product-left-arrow {
  &:before {
    content: $icon-product-left-arrow;     
    color: #223354;
  }
}
.icon-product-right-arrow {
  &:before {
    content: $icon-product-right-arrow;     
    color: #223354;
  }
}
.icon-product-star {
  &:before {
    content: $icon-product-star;     
    color: #b2b2b2;
  }
}
.icon-product-check {
  &:before {
    content: $icon-product-check;     
    color: #fff;
  }
}
.icon-product-wish {
  &:before {
    content: $icon-product-wish; 
  }
}
.icon-product-zoom {
  &:before {
    content: $icon-product-zoom; 
  }
}
.icon-product-addtocart {
  &:before {
    content: $icon-product-addtocart; 
  }
}
.icon-product-list {
  &:before {
    content: $icon-product-list;     
    color: #7f7f7f;
  }
}
.icon-cart1 {
  &:before {
    content: $icon-cart1; 
  }
}
.icon-chair {
  &:before {
    content: $icon-chair; 
  }
}
.icon-cupboard {
  &:before {
    content: $icon-cupboard; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-lamp {
  &:before {
    content: $icon-lamp; 
  }
}
.icon-search1 {
  &:before {
    content: $icon-search1; 
  }
}
.icon-sofa {
  &:before {
    content: $icon-sofa; 
  }
}
.icon-star1 {
  &:before {
    content: $icon-star1; 
  }
}
.icon-table {
  &:before {
    content: $icon-table;     
    color: #7f7f7f;
  }
}
.icon-wish {
  &:before {
    content: $icon-wish; 
  }
}
.icon-home1 {
  &:before {
    content: $icon-home1; 
  }
}
.icon-right-arrow {
  &:before {
    content: $icon-right-arrow; 
  }
}
.icon-twiter {
  &:before {
    content: $icon-twiter;     
    color: #fff;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;     
    color: #fff;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;     
    color: #fff;
  }
}

