//icomoon icons start
@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?i3ey36');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?i3ey36#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?i3ey36') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?i3ey36') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?i3ey36##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-product-grid {
  &:before {
    content: $icon-product-grid;     
    color: #7f7f7f;
  }
}
.icon-favourite-list {
  &:before {
    content: $icon-favourite-list; 
  }
}
.icon-favourite-grid {
  &:before {
    content: $icon-favourite-grid; 
  }
}
.icon-close-button {
  &:before {
    content: $icon-close-button; 
  }
}
.icon-product-share {
  &:before {
    content: $icon-product-share; 
  }
}
.icon-product-bottom-arrow {
  &:before {
    content: $icon-product-bottom-arrow; 
  }
}
.icon-product-top-arrow {
  &:before {
    content: $icon-product-top-arrow; 
  }
}
.icon-product-left-arrow {
  &:before {
    content: $icon-product-left-arrow;     
    color: #223354;
  }
}
.icon-product-right-arrow {
  &:before {
    content: $icon-product-right-arrow;     
    color: #223354;
  }
}
.icon-product-star {
  &:before {
    content: $icon-product-star;     
    color: #b2b2b2;
  }
}
.icon-product-check {
  &:before {
    content: $icon-product-check;     
    color: #fff;
  }
}
.icon-product-wish {
  &:before {
    content: $icon-product-wish; 
  }
}
.icon-product-zoom {
  &:before {
    content: $icon-product-zoom; 
  }
}
.icon-product-addtocart {
  &:before {
    content: $icon-product-addtocart; 
  }
}
.icon-product-list {
  &:before {
    content: $icon-product-list;     
    color: #7f7f7f;
  }
}
.icon-cart1 {
  &:before {
    content: $icon-cart1; 
  }
}
.icon-chair {
  &:before {
    content: $icon-chair; 
  }
}
.icon-cupboard {
  &:before {
    content: $icon-cupboard; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-lamp {
  &:before {
    content: $icon-lamp; 
  }
}
.icon-search1 {
  &:before {
    content: $icon-search1; 
  }
}
.icon-sofa {
  &:before {
    content: $icon-sofa; 
  }
}
.icon-star1 {
  &:before {
    content: $icon-star1; 
  }
}
.icon-table {
  &:before {
    content: $icon-table;     
    color: #7f7f7f;
  }
}
.icon-wish {
  &:before {
    content: $icon-wish; 
  }
}
.icon-home1 {
  &:before {
    content: $icon-home1; 
  }
}
.icon-right-arrow {
  &:before {
    content: $icon-right-arrow; 
  }
}
.icon-twiter {
  &:before {
    content: $icon-twiter;     
    color: #fff;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;     
    color: #fff;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;     
    color: #fff;
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-private {
  &:before {
    content: $icon-private; 
  }
}
.icon-gift-registry {
  &:before {
    content: $icon-gift-registry; 
  }
}
.icon-present {
  &:before {
    content: $icon-present; 
  }
}
.icon-star-empty {
  &:before {
    content: $icon-star-empty; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-undo {
  &:before {
    content: $icon-undo; 
  }
}
.icon-print {
  &:before {
    content: $icon-print; 
  }
}
.icon-help {
  &:before {
    content: $icon-help; 
  }
}
.icon-success {
  &:before {
    content: $icon-success; 
  }
}
.icon-error {
  &:before {
    content: $icon-error; 
  }
}
.icon-account {
  &:before {
    content: $icon-account; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-wishlist-full {
  &:before {
    content: $icon-wishlist-full; 
  }
}
.icon-warning {
  &:before {
    content: $icon-warning; 
  }
}
.icon-update {
  &:before {
    content: $icon-update; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}
.icon-pointer-down {
  &:before {
    content: $icon-pointer-down; 
  }
}
.icon-next {
  &:before {
    content: $icon-next; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-location1 {
  &:before {
    content: $icon-location1; 
  }
}
.icon-list {
  &:before {
    content: $icon-list; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-grid {
  &:before {
    content: $icon-grid; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark; 
  }
}
.icon-cart {
  &:before {
    content: $icon-cart; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-remove {
  &:before {
    content: $icon-remove; 
  }
}
.icon-prev {
  &:before {
    content: $icon-prev; 
  }
}
.icon-pointer-up {
  &:before {
    content: $icon-pointer-up; 
  }
}
.icon-pointer-right {
  &:before {
    content: $icon-pointer-right; 
  }
}
.icon-pointer-left {
  &:before {
    content: $icon-pointer-left; 
  }
}
.icon-flag {
  &:before {
    content: $icon-flag; 
  }
}
.icon-expand {
  &:before {
    content: $icon-expand; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.icon-compare-full {
  &:before {
    content: $icon-compare-full; 
  }
}
.icon-comment {
  &:before {
    content: $icon-comment; 
  }
}
.icon-up {
  &:before {
    content: $icon-up; 
  }
}
.icon-down {
  &:before {
    content: $icon-down; 
  }
}
.icon-address {
  &:before {
    content: $icon-address; 
  }
}
.icon-payment {
  &:before {
    content: $icon-payment; 
  }
}
.icon-billings {
  &:before {
    content: $icon-billings; 
  }
}
.icon-shipping {
  &:before {
    content: $icon-shipping; 
  }
}
