// Required
@import "../../node_modules/bootstrap/scss/functions";

// Default variable overrides
$body-bg: #000;
$body-color: #111;

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// Optional Bootstrap components here
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
// etc

//font variables
$primary-font:'Gotham';
//font size rem
$base-rem: 16 !default;
$font-weight-medium:500;

// font path 
$fonts-path: "../fonts/gotham" !default;
$images: "../images" !default;
//primary colors
$color-white:#fff;
$color-red:#BB0100;
$color-light:#EDEDED;
$color-lightblack:#282627;
$color-black:#000;
$color-grey:#111111;
$color-lightgrey:#7F7F7F;
$color-dark:#BFBFBF;
$color-whitesmoke:#4f4f4f;
$color-pink:antiquewhite;
$color-graphite:#3333;
$color-green:#5DBE6B;
$color-darkred:#E91B1A;


// icomoon icon
$icomoon-font-family: "Luma-Icons" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-cart1: "\e901";
$icon-chair: "\e902";
$icon-cupboard: "\e903";
$icon-home: "\e904";
$icon-lamp: "\e905";
$icon-search1: "\e906";
$icon-sofa: "\e907";
$icon-star1: "\e908";
$icon-table: "\e909";
$icon-wish: "\e90a";
$icon-home1: "\e90b";
$icon-right-arrow: "\e90c";
$icon-twiter: "\e90d";
$icon-instagram: "\e90e";
$icon-facebook: "\e90f";
$icon-location: "\e900";
$icon-private: "\e629";
$icon-gift-registry: "\e62b";
$icon-present: "\e62a";
$icon-star-empty: "\e625";
$icon-download: "\e626";
$icon-undo: "\e628";
$icon-print: "\e624";
$icon-help: "\e623";
$icon-success: "\e60e";
$icon-error: "\e61f";
$icon-account: "\e627";
$icon-edit: "\e601";
$icon-wishlist-full: "\e600";
$icon-warning: "\e602";
$icon-update: "\e603";
$icon-trash: "\e604";
$icon-star: "\e605";
$icon-settings: "\e606";
$icon-pointer-down: "\e607";
$icon-next: "\e608";
$icon-menu: "\e609";
$icon-location1: "\e60a";
$icon-list: "\e60b";
$icon-info: "\e60c";
$icon-grid: "\e60d";
$icon-minus: "\e60f";
$icon-checkmark: "\e610";
$icon-cart: "\e611";
$icon-calendar: "\e612";
$icon-arrow-up: "\e613";
$icon-arrow-down: "\e614";
$icon-search: "\e615";
$icon-remove: "\e616";
$icon-prev: "\e617";
$icon-pointer-up: "\e618";
$icon-pointer-right: "\e619";
$icon-pointer-left: "\e61a";
$icon-flag: "\e61b";
$icon-expand: "\e61c";
$icon-envelope: "\e61d";
$icon-compare-full: "\e61e";
$icon-comment: "\e620";
$icon-up: "\e621";
$icon-down: "\e622";


//border variables


