// Required
@import "../../node_modules/bootstrap/scss/functions";

// Default variable overrides
$body-bg: #000;
$body-color: #111;

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// Optional Bootstrap components here
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
// etc

//font variables
$primary-font:'Gotham';
//font size rem
$base-rem: 16 !default;
$font-weight-medium:500;

// font path 
$fonts-path: "../fonts/gotham" !default;
$images: "../images" !default;
//primary colors
$color-white:#fff;
$color-red:#BB0100;
$color-light:#EDEDED;
$color-lightblack:#282627;
$color-black:#000;
$color-grey:#111111;
$color-lightgrey:#7F7F7F;
$color-dark:#BFBFBF;
$color-whitesmoke:#4f4f4f;
$color-pink:antiquewhite;
$color-graphite:#3333;
$color-green:#5DBE6B;
$color-darkred:#E91B1A;
$color-blue:blue;
$color-pink:#ffc0cb6b;
$color-yellow:#ffff0040;
$color-lightblue:#0000ff47;
$color-coal:#6666;
$color-lightcoal:#cbcbd4;
$color-graphit: #585858;
$color-lightgraphit:#706a6a;
$color-darkest:#E7E6EF;
$color-yellow:#FFC107;
$color-wheat:#b2b2b2;
$color-lightwheat:#BCBDDB;
$color-darkblue: #5E37FF;
$color-orange:#FF9437;
$color-brown:#57453B;
$color-darkgreen:#157911;
$color-cream:#F5EEE1;
$color-darkcream:#1C1E20;
$color-darkorange:#9E0100;
$color-pinkgrey:#f2f2f2;
$color-darkwhite:#f7f7f7;
$color-pearl:#c2c2c2;
$color-charcoal:#333333;
$color-crimson:#fe3f3f;
$color-lightcharcoal:#666666;



// icomoon icon
$icomoon-font-family: "Luma-Icons" !default;
$icomoon-font-path: "../fonts/icomoon" !default;


$icon-address: "\e924";
$icon-payment: "\e931";
$icon-billings: "\e941";
$icon-shipping1: "\e951";
$icon-product-grid: "\e910";
$icon-favourite-list: "\e911";
$icon-favourite-grid: "\e912";
$icon-close-button: "\e913";
$icon-product-share: "\e914";
$icon-product-bottom-arrow: "\e915";
$icon-product-top-arrow: "\e916";
$icon-product-left-arrow: "\e917";
$icon-product-right-arrow: "\e918";
$icon-product-star: "\e919";
$icon-product-check: "\e91a";
$icon-product-wish: "\e91b";
$icon-product-zoom: "\e91c";
$icon-product-addtocart: "\e91d";
$icon-product-list: "\e91e";
$icon-cart1: "\e901";
$icon-chair: "\e902";
$icon-cupboard: "\e903";
$icon-home: "\e904";
$icon-lamp: "\e905";
$icon-search1: "\e906";
$icon-sofa: "\e907";
$icon-star1: "\e908";
$icon-table: "\e909";
$icon-wish: "\e90a";
$icon-home1: "\e90b";
$icon-right-arrow: "\e90c";
$icon-twiter: "\e90d";
$icon-instagram: "\e90e";
$icon-facebook: "\e90f";


//border variables


