.btn {
    background-color: $color-red;
    color: $color-white;

    &--shop {
        font-size: 14px;
        font-weight: 500;
        padding: 10px 37px;
        border-radius: 2px;
      

        &:hover {
            background-color: $color-white;
            color: $color-red;
            transition: 0.4s all ease-in-out;
        }
        @media (min-width: 768px) {
            margin-top: 56px;
         }
    }

    &--subscribe {
        font-weight: 500;
        font-size: 14px;
      padding: 10.5px 15px;
      border-radius: 3px;
      position: absolute;
      right: 2px;
      top: 2px;
        &:hover {
            background-color: $color-grey;
            color: $color-white;
            transition: 0.4s all ease-in-out;
        }
    }
}