//Button utility start
//Button common part start
.btn {
    background-color: $color-red;
    color: $color-white;
    font-weight: $font-weight-medium;

    //Button common part end
    &--search{
        &:active{
            border:none !important;
            display: block;
        }
    }
    &--shop {
        font-size: rem(14);
        border-radius: rem(2);


        &:hover {
            background-color: $color-white;
            color: $color-red;
            transition: 0.4s all ease-in-out;
        }

        @include media-breakpoint-up(sm) {
            padding: rem(10) rem(37);
        }

        @include media-breakpoint-up(lg) {
            margin-top: rem(56);
        }
    }

    &--subscribe {
        font-size: rem(14);
        padding: rem(10.5) rem(15);
        border-radius: rem(3);
        position: absolute;
        right: rem(2);
        top: rem(2);

        &:hover {
            background-color: $color-grey;
            color: $color-white;
            transition: 0.4s all ease-in-out;
        }
    }

    &--time {
        width: rem(261);
        border-radius: rem(2);
        font-size: rem(16);
        text-align: center;
        padding: rem(20) 0;

        &:hover {
            background-color: $color-red;
            color: $color-white;
        }
    }
}

//Button utility end