//Button utility start
//Button common part start
.btn {
    background-color: $color-red;
    color: $color-white;
    font-weight: $font-weight-medium;

    //Button common part end
    &--search {
        &:active {
            border-color: transparent !important;
            display: block;
        }

        span {
            font-size: rem(20);
            color: $color-lightblack;
            margin-top: 2px;
    display: inline-block;
        }

        &:hover {
            @include iconhover;
        }
    }

    &--shop {
        font-size: rem(14);
        border-radius: rem(2);
        display: inline;
        &:hover {
            background-color: $color-white;
            color: $color-red;
            box-shadow:0 0 0 2px $color-red;
        }

        @include media-breakpoint-up(sm) {
            padding: rem(10) rem(37);
        }

        @include media-breakpoint-up(lg) {
            margin-top: rem(56);
        }
    }

    &--subscribe {
        font-size: rem(14);
        padding: rem(10.5) rem(15);
        border-radius: rem(3);
        position: absolute;
        right: rem(3);
        top: rem(3);
        border: 0;

        &:hover {
            background-color: $color-grey;
            color: $color-white;
            transition: 0.4s all ease-in-out;
        }
    }

    &--time {
        width: rem(261);
        border-radius: rem(2);
        font-size: rem(16);
        text-align: center;
        padding: rem(20) 0;

        
            background-color: $color-red;
            color: $color-white;
        
    }

    &--shopnow {
        @include fontsize;
        color: $color-white;
        text-decoration: underline;
        display: inline;

        &:hover {
            text-decoration: wavy;
            color: $color-blue;
            transform: scale(1.03);
        }
    }
}

//Button utility end