// Owl Carousel start


    .owl-theme .owl-nav {
        position: absolute;
        margin-top: rem(10);
        top: 30%;
        left: rem(8);
        right: rem(8);
        @include flex-space-between;
        @include media-breakpoint-up(sm) {top: 50%; }
       
    }
    .owl-prev{
        span{
            font-size: rem(34);
            display: inline;
        }
    }
    .owl-next{
        span{
            font-size: rem(34);
            display: inline;
        }
    }
    .owl-theme .owl-nav [class*=owl-]:hover {
         background: transparent; 
        color: $color-red;
        text-decoration: none;
    }
   
    // Owl Carousel end
    
   
