.inner-detail {
  margin: rem(54) 0 rem(93) 0;

}

.vertical-carousel {
  transform: rotate(90deg);
  width: 270px;
}

.vertical-carousel-rotate {
  transform: rotate(-90deg);
}

.vertical-carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: calc(50% - 33px);
}

div.vertical-carousel .owl-nav .owl-prev,
div.vertical-carousel .owl-nav .owl-next {
  font-size: 36px;
  top: unset;
  bottom: 15px;
}

.middel-content {
  border: 1px solid $color-dark;
}

.right__content {
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: initial;
  }

  &-title {
    h4 {
      font-weight: $font-weight-bold;
      font-size: rem(20);
      text-transform: uppercase;
      color: $color-lightblack;
    }

    h3 {
      font-weight: $font-weight-bold;
      font-size: rem(30);
      color: $color-grey;
      margin: rem(13) 0;
    }

    p {
      color: $color-lightgrey;
      font-size: rem(12);
    }
  }

  &-desc {
    font-size: rem(12);
    color: $color-grey;

    li {
      margin-bottom: 8px;
    }
  }

  &-text {
    color: $color-grey;
    font-size: rem(12);
    font-weight: $font-weight-light;
  }

  &-img {
    display: flex;
    gap: 9px;
    margin: 15px 0;
    justify-content: center;

    @include media-breakpoint-up(xl) {
      justify-content: flex-start;
    }

    li {
      width: 64px;

      a {
        display: block;
      }
    }
  }

  &-socialicons {
    margin-top: rem(24);
    display: flex;
    gap: 12px;
    justify-content: center;

    @include media-breakpoint-up(xl) {
      justify-content: flex-start;
    }

    a {
      color: $color-lightblack;
      font-size: rem(14);
      font-weight: $font-weight-medium;
      display: inline-flex;
      align-items: center;
      line-height: rem(14);
      gap: rem(6);

      &:hover {
        color: $color-darkred;
        text-decoration: underline;
      }
    }
  }
}

// counter block css start
.counter {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 3px;

  &__content {
    display: inline-flex;

    &-value {
      width: 47px;
      height: 40px;
      background-color: $color-whitesmoke;
      display: grid;
      place-content: center;
      color: $color-white;

      input {
        background-color: transparent;
        width: 47px;
        border: 0;
        text-align: center;
        color: $color-white;
      }
    }

    button {
      border: 0.5px solid $color-whitesmoke;
      background-color: transparent;
      @include flex-center;
      height: 20px;
      width: 20px;

      span {
        font-size: rem(6);
        color: $color-lightblack;
      }
    }
  }
}

// counter block css end

//detail stars css start
.detail-star {
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: rem(14);
  margin-right: rem(7);
  margin-block: rem(14);

  &::before {
    content: '\f005''\f005''\f005''\f005''\f005';
    position: relative;
    display: block;
    line-height: 16px;
    font: var(--fa-font-solid);
    font-weight: $font-weight-bold;
    letter-spacing: 9px;
    color: $color-wheat
  }

  &-result {
    display: inline-block;
    width: 87%;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;

    &::before {
      content: '\f005''\f005''\f005''\f005''\f005';
      position: relative;
      display: block;
      line-height: 16px;
      font: var(--fa-font-solid);
      font-weight: $font-weight-bold;
      letter-spacing: 9px;
      color: $color-yellow;
      z-index: 2;
      -webkit-font-smoothing: antialiased;
    }
  }
}

//detail stars css end
//additional info tabs section start
.add-info {
  text-align: center;

  &-text {
    p {
      color: $color-grey;
      font-weight: $font-weight-light;
    }
  }

  &-link {
    font-size: rem(18);
    font-weight: $font-weight-medium;
    color: $color-lightgrey;
    position: relative;
    padding: rem(11) rem(22);
    width: 100%;

    &:hover {
      background-color: transparent;
      color: black;
    }
  }

  hr {
    border: 1px solid $color-dark;
    margin-bottom: rem(34);
  }

  .nav-pills .add-info-link.active {
    background-color: transparent;
    color: black;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: auto;
      border: 1px solid $color-black;
    }

    @include media-breakpoint-up(md) {
      &::after {
        bottom: rem(-18);
      }
    }
  }
}

.active1 {
  border: 1px solid $color-darkorange;
  border-radius: 2px;
}

//additional info tabs section end



#img-zoomer-box {
  position: relative;
}


#img-zoomer-box:hover,
#img-zoomer-box:active {
  cursor: zoom-in;
  display: block;
}

#img-zoomer-box:hover #img-2,
#img-zoomer-box:active #img-2 {
  opacity: 1;
}

#img-2 {
  width: 340px;
  height: 340px;
  background: url('#{$images}/furniture-detail-page/middel-image.jpg') no-repeat #FFF;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  position: absolute;
  opacity: 0;
  border: 4px solid whitesmoke;
  z-index: 999;
  border-radius: 100%;
  display: block;
  transition: opacity .2s;
}





















.slider {
  margin-bottom: rem(21);

  @include media-breakpoint-up(lg) {
    margin-bottom: initial;
  }
}

.slider .swiper-container {
  width: 100%;
  height: 100%;
}

.slider__flex {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 30px;
  flex-direction: column-reverse;
   @include media-breakpoint-up(md){
   flex-direction: initial;
   justify-content: space-evenly;
      }
       @include media-breakpoint-up(lg){
            justify-content: initial;
          }
}

.slider__col {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0;
  width: 100%;
   @include media-breakpoint-up(md){
    flex-direction: column;
    width: 150px;
    margin-right: 32px;
      }

}

.slider__prev:focus,
.slider__next:focus {
  outline: none;
}

.slider__thumbs {
  width: calc(100% - 96px);
  margin: 0 16px;
  height: auto;
 @include media-breakpoint-up(md){
  height: calc(536px - 96px);
  width: initial;
  margin: initial;
    }
 
}

.slider__thumbs .slider__image:hover {
  opacity: 1;
}

.slider__images {
  border: 1px solid $color-dark;
  width: 100%;
  @include media-breakpoint-up(md) {
    height: 526px;
    width: initial;
  }
}

.slider__images .slider__image img {
  transition: 3s;
}

.slider__images .slider__image:hover img {
  transform: scale(1.1);
}

.slider__image {

  overflow: hidden;
}

.slider__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider__prev,
.slider__next {
  width: 32px;
  transform: rotate(270deg);
  cursor: pointer;
  text-align: center;
    height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
    span {
    font-size: rem(9.5);
    color: $color-lightblack;
  }

  @include media-breakpoint-up(md) {
    transform: initial;
    width: initial;
  }
}

