.register {

    margin-bottom: rem(33);

    &__wrapper {
        align-items: center;
        flex-direction: column-reverse;
        @include media-breakpoint-up(md) {
            flex-direction: row;
        }
    }

    &__img {
        text-align: center;

        img {
            width: 100%;

            @include media-breakpoint-up(sm) {
                width: unset;
            }
        }
    }

    &__form {
        border-radius: rem(20);
        margin-bottom: rem(20);
         @include media-breakpoint-up(sm){
            padding: rem(36) rem(20) rem(33) rem(20);
            width: auto;
            box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.06);
            }
        @include media-breakpoint-up(md) {
            padding: rem(35) rem(35) rem(66) rem(35);
            margin-bottom: 0;
        }

        @include media-breakpoint-up(xl) {
            width: rem(480);
        }

        &-title {
            line-height: rem(24);
            text-align: start;
            margin-bottom: rem(32);
             @include media-breakpoint-up(md){
                text-align: center;

                }
            h3 {
                color: $color-darkred;
                font-weight: $font-weight-bold;
                font-size: rem(24);
                text-transform: uppercase;

            }
        }

        &-label {
            h5 {
                font-size: rem(14);
                font-weight: $font-weight-bold;
                color: $color-coal;
                margin-bottom: rem(11);
            }
        }


        input {
            border: rem(1) solid $color-lightcoal;
            border-radius: 6px;
            padding: rem(11) 0 rem(11) rem(16);

            color: $color-lightgraphit;
            @include fontsize;

            &:focus {
                box-shadow: 0 0 0 2px $color-red;
                color: $color-lightgraphit;
                border-color: transparent;
            }

            &::placeholder {
                @include fontsize;
                color: $color-lightgraphit;
            }
        }

        &-submit {
            text-align: center;
            margin-top: rem(20);
            @include media-breakpoint-up(md){
                margin-top: rem(51);
                }
            p {
                @include fontsize;
                margin-top: rem(37);
                color: $color-whitesmoke;
            }

            a {
                font-size: rem(16);
                font-weight: $font-weight-medium;
                text-decoration: underline;
                color: $color-whitesmoke;
                &:hover{
                    color: $color-red;
                    text-decoration: none;
                }
            }
        }

        &-checkbox {
            display: flex;
            align-items: center;
            margin-top: rem(8);
             @include media-breakpoint-up(md){
                margin-top: rem(20);
                }
            input {
                color: $color-white;
                accent-color: $color-red;

                height: rem(18);
                width: rem(18);

                &:focus {
                    box-shadow: none;
                }
            }

            p {
                color: $color-lightgraphit;
                font-size: rem(14);
                font-weight: $font-weight-normal;
                padding-left: rem(10);
            }
        }
    }

}
