// Footer section start
.footer {
    background-color: $color-grey;
    color: $color-white;
    padding-top: rem(34);
    padding-bottom: rem(102);
    position: relative;

    &__form {
        margin-top: rem(33);
        position: relative;

        &-input {
            border-radius: rem(4);
            width: 100%;
            font-size: rem(16);
            font-weight: $font-weight-normal;
            padding: rem(10) rem(123) rem(10) rem(20);
            height: rem(48);
            border-color: transparent;
            &:focus-visible {
                outline:  0;
                
            }

            &:focus{
                box-shadow:0 0 0 2px $color-red;
            }

            &::placeholder {
                font-weight: 500;
                font-size: rem(14);
                color: $color-red;
            }
        }

        i {
            color: $color-red;
            position: absolute;
            top: rem(15);
            left: rem(16);
        }
    }

    &__info {
        font-weight: $font-weight-light;
        font-size: rem(14);

        p {
            margin-top: rem(40);
            margin-bottom: rem(20);

        }

        a {
            color: $color-white;
           
        }

        ul {
            display: flex;
            column-gap: rem(10.8);

            li {

                height: rem(25);
                width: rem(25);
                background: $color-lightgrey;
                text-align: center;
                border-radius: 50%;
                @include flex-center;
                &:hover{
                    background-color: $color-red;
                    transform: scale(1.1);
                }
            }
        }
    }
&__categories{
    @include media-breakpoint-up(xl){
    display: inline-flex;
    justify-content: center;}
}
    &__title {
        font-weight: 700;
        font-size: rem(15);
        margin-bottom: rem(12);
        margin-top: rem(20);

        @include media-breakpoint-up(lg) {
            margin-top: 0;
            margin-bottom: rem(36);
        }
    }

    &__list {
        line-height: rem(41.5);

        li a {
            font-weight: $font-weight-light;
            font-size: rem(14);
            color: $color-white;
            // transition: 0.4 all ease-in-out;
            &:hover {
               
                color: $color-red;
                
                text-decoration: underline;
                transform: scale(1.1);
            }
        }
    }

    &__copyright {
        background-color: $color-red;
        text-align: center;
        padding-top: rem(17);
        padding-bottom: rem(19);
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;

        a {
            color: $color-white;
            font-weight: 300;
            font-size: rem(14);
        }
    }
}
// Footer section end