// Header section start
.header {
  &__top {
    background-color: $color-red;
    color: $color-white;

    h3 {
      text-align: center;
      margin: 0;
      padding: rem(12) 0;
      font-weight: $font-weight-bold;
      font-size: rem(16);
    }

    a {
      color: $color-white;
    }
  }

  &__form {
    position: relative;
    max-width: auto;

    .form-control {
      background-color: $color-light ;
      border-radius: rem(5);
      padding-right: rem(45);

      &:focus {
        box-shadow: none;
        border: none;
      }

      &::placeholder {
        font-size: rem(14);
        color: $color-lightblack;
        font-weight: $font-weight-light;
      }

    
    }

    button {
      position: absolute;
      right: 0;
      background-color: transparent !important;
    }
  }

  &__icons {
    display: inline-flex;

    li {
      padding-left: rem(21);
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include media-breakpoint-up(lg) {
      position: initial;
      display: flex;
      width: 34%;
      align-items: center;
    }

  }

}
.navbar-expand-lg .navbar-nav .nav-link {
  font-size: rem(20);
  font-weight: 500;
  color: $color-lightblack;
  padding: rem(10) rem(24.7);
  background: $color-pink;
  border-bottom: rem(1) solid $color-red;

  &:hover {
      color: $color-red;
      transition: 0.3s all ease-in-out;
  }

  @include media-breakpoint-up(lg) {
      padding: rem(10) rem(15);
      font-size: rem(14);
      font-weight: $font-weight-light;
      color: $color-lightblack;
      background-color: $color-white;
      border: transparent;
  }

  @include media-breakpoint-up(xl) {
      padding: rem(10) rem(28.7);
  }
}

.navbar {
  padding: rem(21) 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown-toggle::after {
  display: none;
}
// Header section end